@{
    ViewData["Robots"] = "all";
    ViewData["Title"] = "About Black Sheep Farms";
}

<div class="split">
    <div class="content">
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat turpis diam, sit amet pulvinar arcu dignissim id. Morbi feugiat neque non ex tempus blandit. Vivamus rhoncus vel purus ut sagittis. Curabitur non accumsan leo, id luctus erat. Morbi at libero faucibus, laoreet velit et, laoreet libero. Quisque mi eros, ornare ac odio vel, faucibus tempus elit. Nunc congue, augue quis porta convallis, purus purus rhoncus enim, et iaculis lectus erat et turpis. Cras viverra, urna nec elementum sodales, arcu ligula ullamcorper nibh, commodo aliquet dolor dui a risus. Donec tortor mauris, laoreet a consectetur non, rhoncus in quam. In lacinia massa non metus interdum, vel eleifend velit dapibus.</p>
        <p>Praesent tempus convallis augue nec pulvinar. Nunc orci lorem, gravida lacinia posuere in, accumsan ac est. Nulla mollis, orci a pharetra hendrerit, justo mauris euismod elit, at ultrices mi dolor id lacus. Maecenas eleifend pretium purus sit amet lacinia. Duis convallis pellentesque lorem, nec euismod lectus tempor nec. Pellentesque sed suscipit orci, eu dapibus enim. Fusce semper hendrerit velit. Maecenas nibh mauris, suscipit eu placerat suscipit, suscipit vitae urna. Quisque vitae eros vel nulla aliquet iaculis eu tempus mi. Proin magna ante, facilisis quis elit at, eleifend pretium elit. Etiam aliquam orci sit amet diam imperdiet, in congue quam iaculis. Nunc vitae ligula at arcu pulvinar volutpat in sagittis ligula. Suspendisse lorem arcu, accumsan ac augue ac, ornare dapibus lorem.</p>

        <h2>Staff</h2>

        <p><b>Owner:</b> Turd Ferguson</p>
    </div>
</div>